<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cunyun.zone.server.mapper.CyUserHobbieTopicMapper" >
  <resultMap id="BaseResultMap" type="cunyun.zone.server.entity.CyUserHobbieTopic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="topic_name" property="topicName" jdbcType="VARCHAR" />
    <result column="topic_id" property="topicId" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="push_model" property="pushModel" jdbcType="VARCHAR" />
    <result column="push_times" property="pushTimes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, topic_name, topic_id, created_time, push_model, push_times
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cunyun.zone.server.entity.CyUserHobbieTopicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cy_user_hobbie_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cy_user_hobbie_topic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cy_user_hobbie_topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cunyun.zone.server.entity.CyUserHobbieTopicExample" >
    delete from cy_user_hobbie_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cunyun.zone.server.entity.CyUserHobbieTopic" >
    insert into cy_user_hobbie_topic (id, uid, topic_name, 
      topic_id, created_time, push_model, 
      push_times)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{topicName,jdbcType=VARCHAR}, 
      #{topicId,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{pushModel,jdbcType=VARCHAR}, 
      #{pushTimes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cunyun.zone.server.entity.CyUserHobbieTopic" >
    insert into cy_user_hobbie_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="topicName != null" >
        topic_name,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="pushModel != null" >
        push_model,
      </if>
      <if test="pushTimes != null" >
        push_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="topicName != null" >
        #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushModel != null" >
        #{pushModel,jdbcType=VARCHAR},
      </if>
      <if test="pushTimes != null" >
        #{pushTimes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cunyun.zone.server.entity.CyUserHobbieTopicExample" resultType="java.lang.Integer" >
    select count(*) from cy_user_hobbie_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cy_user_hobbie_topic
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.topicName != null" >
        topic_name = #{record.topicName,jdbcType=VARCHAR},
      </if>
      <if test="record.topicId != null" >
        topic_id = #{record.topicId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null" >
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pushModel != null" >
        push_model = #{record.pushModel,jdbcType=VARCHAR},
      </if>
      <if test="record.pushTimes != null" >
        push_times = #{record.pushTimes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cy_user_hobbie_topic
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=VARCHAR},
      topic_name = #{record.topicName,jdbcType=VARCHAR},
      topic_id = #{record.topicId,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      push_model = #{record.pushModel,jdbcType=VARCHAR},
      push_times = #{record.pushTimes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cunyun.zone.server.entity.CyUserHobbieTopic" >
    update cy_user_hobbie_topic
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="topicName != null" >
        topic_name = #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushModel != null" >
        push_model = #{pushModel,jdbcType=VARCHAR},
      </if>
      <if test="pushTimes != null" >
        push_times = #{pushTimes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cunyun.zone.server.entity.CyUserHobbieTopic" >
    update cy_user_hobbie_topic
    set uid = #{uid,jdbcType=VARCHAR},
      topic_name = #{topicName,jdbcType=VARCHAR},
      topic_id = #{topicId,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      push_model = #{pushModel,jdbcType=VARCHAR},
      push_times = #{pushTimes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>